{
  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "es6": true
  },

  "globals": {},
  "parser": "babel-eslint",
  "extends": "eslint:recommended",

  "ecmaFeatures": {
    "generators": true,
    "forOf": true,
    "binaryLiterals": true,
    "classes": true,
    "defaultParams": true,
    "modules": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "jsx": true,
    "destructuring": true,
    "objectLiteralComputedProperties": true,
    "arrowFunctions": true,
    "spread": true,
    "globalReturn": true,
    "objectLiteralShorthandMethods": true,
    "regexUFlag": true,
    "superInFunctions": true,
    "blockBindings": true,
    "regexYFlag": true
  },

  "rules": {
    "no-return-assign": 2,
    "no-undef": 2,
    "eol-last": 2,
    "handle-callback-err": [2, "err"],
    "no-label-var": 2,
    "block-spacing": 2,
    "radix": 2,
    "no-undefined": 2,
    "semi-spacing": [ 2, { "before": false, "after": true } ],
    "eqeqeq": 2,
    "new-cap": 2,
    "camelcase": [ 2, { "properties": "never" } ],
    "no-extra-bind": 2,
    "no-sequences": 2,
    "no-spaced-func": 2,
    "no-eval": 2,
    "no-process-exit": 2,
    "strict": [ 2, "global" ],
    "consistent-return": 2,
    "no-console": 0,
    "comma-spacing": 2,
    "no-labels": 2,
    "no-redeclare": 2,
    "no-new-require": 2,
    "indent": [ 2, 2, { "SwitchCase": 1 } ],
    "no-native-reassign": 2,
    "no-shadow": 2,
    "no-mixed-requires": 2,
    "space-unary-ops": [ 2, { "words": true } ],
    "no-lone-blocks": 2,
    "space-before-blocks": 2,
    "no-implied-eval": 2,
    "no-multi-spaces": 2,
    "curly": 2,
    "space-infix-ops": 2,
    "semi": 2,
    "no-octal-escape": 2,
    "no-alert": 2,
    "no-unused-expressions": 2,
    "no-path-concat": 2,
    "guard-for-in": 2,
    "no-nested-ternary": 2,
    "no-multi-str": 2,
    "no-delete-var": 2,
    "no-with": 2,
    "no-trailing-spaces": 2,
    "accessor-pairs": [ 2, { "getWithoutSet": true, "setWithoutGet": true } ],
    "yoda": [ 2, "never" ],
    "no-new": 2,
    "key-spacing": [ 2, { "afterColon": true } ],
    "new-parens": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-floating-decimal": 2,
    "no-shadow-restricted-names": 2,
    "no-caller": 2,
    "quotes": [ 2, "single" ],
    "brace-style": [ 2, "1tbs" ],
    "no-unused-vars": [ 2, { "vars": "all", "args": "after-used" } ],
    "no-new-object": 2,
    "no-new-wrappers": 2,
    "comma-style": [ 2, "last" ],
    "no-script-url": 2,
    "no-array-constructor": 2,
    "no-iterator": 2,
    "space-before-function-paren": [ 2, "never" ],
    "no-proto": 2,
    "no-new-func": 2,
    "no-undef-init": 2,
    "no-fallthrough": 2,
    "no-catch-shadow": 0,
    "no-extend-native": 2,
    "no-octal": 2
  }
}
